@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: black;
}

h1,
h4,
p,
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 2px solid white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-light {
  background: transparent;
  color: #fff;
  transition: 0.3s ease;
}

.btn:hover {
  /* background: rgba(255, 255, 255, 0.2);
  color: #fff; */
  transform: scale(1.15);
}

.btn-light:hover {
  /* background: rgb(248, 217, 15);
  color: #222; */
  transform: scale(1.15);
}